@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
  --color-canvas: #1b1a1f;
  --color-panel: #20212c;
  --color-fg: #ceced1;
  --color-fg-muted: #b1b1bb;
  --color-outline: #242328;

  --font-sans:
    'Inter Variable', Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans',
    Arial, sans-serif;
}

:root {
  color-scheme: dark light;
}

body {
  @apply bg-canvas text-fg m-0 min-h-screen min-w-[320px] overflow-hidden;
}

* {
  @apply border-outline outline-none;
}

textarea {
  @apply text-fg;
}

button {
  @apply ring-fg-muted ring-offset-canvas ring-offset-2 focus-visible:ring-2;
}

a {
  @apply ring-fg-muted focus-visible:ring-2;
}

.prose {
  code,
  pre {
    font-family: 'FontWithASyntaxHighlighter', monospace;
  }
  pre {
    @apply bg-panel ring-outline ring-offset-canvas p-2 ring-2 ring-offset-2;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-fg;
  }
}
