@import "tailwindcss";

@theme {
  --color-canvas: #1b1a1f;
  --color-panel: #20212c;
  --color-fg: #ceced1;
  --color-fg-muted: #b1b1bb;
  --color-outline: #242328;

  --font-sans: "Inter Variable", Roboto, "Helvetica Neue", "Arial Nova",
    "Nimbus Sans", Arial, sans-serif;
}

:root {
  color-scheme: dark light;
}

body {
  @apply m-0 min-h-screen min-w-[320px] overflow-hidden bg-canvas text-fg;
}

* {
  @apply border-outline outline-none;
}
