@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'FontWithASyntaxHighlighter';
  src: url('/FontWithASyntaxHighlighter-Regular.woff2') format('woff2');
}

@layer base {
  :root {
    font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans',
      Arial, sans-serif;
    line-height: 1.5;
    font-weight: normal;

    color-scheme: dark light;

    --canvas: #1b1a1f;
    --panel: #20212c;
    --fg: #ceced1;
    --fg-muted: #b1b1bb;
    --border: #242328;
  }

  body {
    @apply m-0 min-w-[320px] overflow-hidden bg-canvas text-fg;
  }

  * {
    @apply border-border outline-none;
  }

  textarea {
    @apply text-fg;
  }

  button {
    @apply ring-fg-muted ring-offset-2 ring-offset-canvas focus-visible:ring-2;
  }

  a {
    @apply ring-fg-muted focus-visible:ring-2;
  }
}

.prose {
  code,
  pre {
    font-family: 'FontWithASyntaxHighlighter', monospace;
  }
  pre {
    @apply bg-panel p-2 ring-2 ring-border ring-offset-2 ring-offset-canvas;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-fg;
  }
}
