@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'FontWithASyntaxHighlighter';
  src: url('/FontWithASyntaxHighlighter-Regular.woff2') format('woff2');
}

@layer base {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: dark light;
  }

  body {
    margin: 0;
    min-width: 320px;
    overflow: hidden;
  }
}

.prose {
  code,
  pre {
    font-family: 'FontWithASyntaxHighlighter', monospace;
  }
  pre {
    @apply p-2 ring-2 ring-neutral-400/10;
  }
}
